/*
 * -- BASE STYLES --
 */
 body {
    color: #526066;
  }
  
  h2,
  h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  p {
    line-height: 1.6em;
  }
  
  /*
   * -- Layout Styles --
   */
  .l-content {
    margin: 10 auto;
  }
  
  .l-box {
    padding: 0.5em 2em;
  }
  
  /*
   * -- MENU STYLES --
   */
  .pure-menu {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .pure-menu-link {
    padding: 0.5em 0.7em;
  }
  
  /*
   * -- BANNER --
   * The top banner with the headings. By using a combination
   * of `display: table;` and `display: table-cell;`, we can
   * vertically center the text.
   */

  .banner-head {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2em;
    color: Black;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
  }
  
  /*
   * -- GENRE TABLE WRAPPER --
   * This element wraps up all the pricing table elements
   */
  .genres,
  .information {
    max-width: 980px;
    margin: 0 auto;
  }
  .genres {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);  
    margin-bottom: 3.125em;
    text-align: center;
  }

   /*
   * -- GENRE TABLE BUTTONS  --
   */

   .genre-button {
    border: none;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    display: inline-block;
    height: 100px;
    width: 155px;
   }

   #romance_button{
    background-color: lightblue;
   }

   #thriller_button{
    background-color: lavender;
   }

   #nonfiction_button{
    background-color: lightseagreen;
   }

   #horror_button{
    background-color: lightcoral;
   }

   #comedy_button{
    background-color: lightskyblue;
   }

   #ya_button{
    background-color: palevioletred;
   }


   #romance_button:hover{
    background-color: rgb(115, 171, 190);
   }

   #thriller_button:hover{
    background-color: rgb(184, 184, 222);
   }

   #nonfiction_button:hover{
    background-color: rgb(20, 132, 126);
   }

   #horror_button:hover{
    background-color: rgb(208, 98, 98);
   }

   #comedy_button:hover{
    background-color: rgb(85, 143, 180);
   }

   #ya_button:hover{
    background-color: rgb(171, 69, 103);
   }
  
  /*
   * -- GENRE TABLE HEADER --
   */
  .genre-table-header {
    background: #111;
    color: #fff;
  }
  .genre-table h2 {
    margin: 0;
    padding-top: 2em;
    font-size: 1em;
    font-weight: normal;
  }

  
  /* ACCOUNT PAGE */

  .account_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
  }
  .welcome{
    text-align: center;
  }

  /* FOOTER */
  
  .footer {
    background: #111;
    color: #888;
    text-align: center;
  }
  .footer a {
    color: #ddd;
  }

  
  /*
   * -- TABLET MEDIA QUERIES --
   * On tablets, we want to slightly adjust the size of the banner
   * text and add some vertical space between the various pricing tables
   */
  @media (min-width: 767px) {
    .banner-head {
      font-size: 3em;
    }
    .pricing-table {
      margin-bottom: 0;
    }
  }
  
  /*
   * -- PHONE MEDIA QUERIES --
   * On phones, we want to reduce the height and font-size of the banner further
   */
  @media (min-width: 480px) {
    .banner {
      height: 400px;
    }
    .banner-head {
      font-size: 2em;
    }
  }

  .add-shelf{
    position: absolute;
    right: 20px;
  }
  
/* FEATURED BOOKS LIST */
.featured_list {
  width: 70%;
  font-size: medium;
  text-align: center;
  border-radius: 2em;
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}
