{% extends "Home.html"%}
{% block title %} My Account! {% endblock %}

{% block content %}

    <br>
    <br><br><br>

    <h2 class= "banner-head"> Account </h2>

    <img class ="account_logo" src= "static/Account.svg">
    {% if session %}
    <div class = "profile_pic">
        <img src="{{session.userinfo.picture}}" alt="user_picture">
    </div>
        <h3 class = "welcome"> Welcome {{session.userinfo.name}}!</h3>
    {% else %}
        <h3 class = "welcome">Login to access account settings.</h3>
    {% endif %}

{% endblock %}