{% extends "Navi.html"%}
{% block title %} My Account! {% endblock %}

{% block head %}

    <link rel="stylesheet" href="/css/pure/pure-min.css">
    <link rel="stylesheet" href="/css/pure/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}

{% block content %}

    <br>
    <br><br><br>

    <h2 class= "banner-head"> Account </h2>

    <img class ="account_logo" src= "static/Account.svg">
    {% if session %}
            <h3 class = "welcome"> Welcome {{session.userinfo.name}}!</h3>
    {% else %}
        <h3 class = "welcome">Login to access account settings.</h3>
    {% endif %}

{% endblock %}