{% extends "Navi.html" %}
{% block title %} My Bookshelf {% endblock %}

{% block head %}

    <link rel="stylesheet" href="/css/pure/pure-min.css">
    <link rel="stylesheet" href="/css/pure/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script async defer src="/static/functions.js"></script>
    
{% endblock %}

{% block content %}

<br>
<br><br><br>

<h2 class="banner-head"> Bookshelf</h2>
<p>
<div class="pure-button add-shelf popup">
    <i class="fa-solid fa-plus" onclick="newShelfForm()"> Create new bookshelf</i>
    <div class="popuptext" id="popupBox">
        <form class="pure-form" method="post">
            <input type="text" name="BookshelfName" class="pure-input searchBox" placeholder="New bookshelf name"
                required="" />
            <br>
            <button type="submit" class="pure-button create-shelf-button">
                Save
            </button>
            <button class="pure-button create-shelf-button" onclick="closePopup()">
                Delete
            </button>
        </form>
    </div>
</div>

<table class="pure-table pure-table-horizontal" id="bookshelf">
    <thead>
        {{bookshelfName}}
    </thead>
    <tbody>
        <tr>
            <td>book name</td>
        </tr>
        <tr>
            <td>book name</td>
        </tr>
        <tr>
            <td>book name</td>
        </tr>
        <tr>
            <td>book name</td>
        </tr>
    </tbody>
</table>
</p>

{% endblock %}