{% extends "Navi.html" %}
{% block title %} Book Search Results! {% endblock %}

{% block content %}

    Book Search Results!
  
  <!-- https://covers.openlibrary.org/b/$key/$value-$size.jpg  -->
  <!-- key can be any one of ISBN, OCLC, LCCN, OLID and ID (case-insensitive)
       value is the value of the chosen key
       size can be one of S, M and L for small, medium and large respectively. -->

  <div>
    <ul>
      {% for i in range(count): %}
      <div>
        <li><br>
            <img src = "https://covers.openlibrary.org/b/isbn/{{isbn[i]}}-L.jpg" alt="Book picture"/><br>
            
            {{book_title[i]}}<br>
            {{author_name[i]}}<br>
            {{isbn[i]}}<br>
        </li>
      </div>
      <br>
      {% endfor %}
    </ul>
  </div>

{% endblock %}