{% extends "Home.html" %}
{% block title %} My Bookshelf {% endblock %}


{% block content %}

<br>
<br><br><br>

<h2 class="banner-head"> Your bookshelf</h2> <br><br>

    <div class="pure-button add-shelf popup">
        <i class="fa-solid fa-plus" onclick="newShelfForm()"> Create new bookshelf</i>
        <div class="popuptext" id="popupBox">
            <form class="pure-form" id="newBookshelf" method="post">
                <input type="text" id="bookshelfName" name="bookshelfName" class="pure-input searchBox" placeholder="New bookshelf name"
                    required="" />
                <br>
                <button type="submit" class="pure-button create-shelf-button">
                    Save
                </button>
                <button class="pure-button create-shelf-button" onclick="closePopup()">
                    Close
                </button>
            </form>
        </div>
    </div>

    {% for i in range(bookshelves|length) %}
        <table class="pure-table pure-table-bordered" id="bookshelf">
            <thead>
                {{bookshelves[i][0]}}
                <tr>
                    <button class="delete-button" data-id="{{bookshelves[i][0]}}">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </tr>
            </thead>

            <tbody>
                <tr>
                {% for book in books[i] %}
                    <tr>
                        <td>{{book[0]}}</td>
                    </tr>
                {% endfor %}
                </tr>
            </tbody>

        </table>
    {% endfor %}


{% endblock %}