{% extends "Home.html" %}
{% block title %} Horror {% endblock %}

{% block content %}

   <br>
   <br><br>
   <h2 class="banner-head"> Horror </h2>
   <div class="genre_lists">
      <div class="pure-g">
         {% for i in range(items_length): %}
         <div class="pure-u-1 pure-u-md-1-3">
            {% if book_thumbnails[i] is none %}
			      <img src="static/placeholderbook.svg" alt="Book picture" height="250"><br>
			   {% else %}
               <img src="{{book_thumbnails[i]}}" alt="Book picture" height="300"><br>
            {% endif %}
            {{horror_title[i]}}<br>
            {{author_names[i]}}<br>
            {{book_published_dates[i]}}
         </div>
         {% endfor %}
      </div>
   </div>
   {% endblock %}