<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A layout example that shows off a responsive pricing table.">
        <script src="https://kit.fontawesome.com/7d81a643e8.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" 
                               integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" 
                               crossorigin="anonymous">
        <link rel="stylesheet" href="/static/navi.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />

        
        <title> {% block title %} {% endblock %}</title>
                
    </head>
    <body>
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a href="/" class="pure-menu-heading pure-menu-link"><img class="logoImg" src="/static/BookTokLogo.png" alt="bookTokLogo"></a>    
            <div class="pure-u-1 pure-u-md-1-3 menu-items-margin">
                <li class="pure-menu-item">
                    <a href="/bookshelf" class="pure-menu-link">Bookshelf</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/account" class="pure-menu-link">My account</a>
                </li>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
                <li class="pure-menu-item">
                     <!-- Search list form (start)-->
                    <form class="pure-form" action="{{url_for('BookSearchList')}}" method="post">
                        <input type="text" name = "BookTitle" class="pure-input-rounded searchBox" placeholder="Search for book" required="" />
                        <button type="submit" class="pure-button">
                            <i class="fa fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                    <!-- Search list form (end)-->
                </li>
            </div>
            <div class="pure-u-1 pure-u-md-1-3 menu-items-margin login-button">
                <!-- login/logout button and welcome message-->
                {% if session %}
                    <li class="pure-menu-item">
                        Welcome {{session.userinfo.name}}!
                    </li>
                    <li class="pure-menu-item">
                        <p><a href="/logout">Logout</a></p>
                    </li>
                {% else %}
                    <li class="pure-menu-item">
                        Welcome Guest
                    </li>
                    <li class="pure-menu-item">
                        <p><a href="/login">Login</a></p>
                    </li>
                {% endif %}
            </div>
        </div>
        
        {% block content %} {% endblock %}

    </body>
</html>